@import "../utils/variables";
@import "../utils/functions";
.banner {
	position: relative;
	width: 100%;
	height: calc(100dvh - 101.32px);
	overflow: hidden;
}

.banner__image,
.banner__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.banner__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: rem(16 0);
	background: linear-gradient(to top, rgba($black, 0.8), transparent);
	color: $white;
}

.banner__overlay {
	h1 {
		font-size: rem(50);
		margin-bottom: rem(25);
		@include media-breakpoint-up(md) {
			font-size: rem(85);
		}
	}
	.content {
		margin-bottom: rem(25);
	}
}
